*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --cor-verde: #34F802;
    --cor-preto: #1E1E1E;
    --cor-branco: rgb(255, 255, 255);
}

body {
    min-height: 100vh;

    background-image: url("imagens-projetos-designer/bg-arte.jpg");
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;

    background-color: var(--cor-preto);
}

header {
    padding: 20px 4%;
}

.home {
    max-width: 1920px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.menu-desktop ul {
    display: flex;
    gap: 40px;

    list-style: none;
}

.menu-desktop a {
    color: rgb(128, 128, 128);
    text-decoration: none;
    display: inline-block;
}

header .menu-desktop a:hover {
    color: #ffffff;
    cursor: pointer;
    transform: scale(1.5);
    transition: .2s;

}

.sobre {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 4%;
    padding-left: px;
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 100px;
    margin-left: 100px;
    font-size: 20px;
    color: var(--cor-branco);
}

.sobre h1 {
    color: var(--cor-verde);
    margin-top: 20px;
    font-size: 45px;
}

.sobre p {
    font-size: 20px;
    
}

.btn-sobre{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;

    width: 300px;
    height: 60px;

    background-color: var(--cor-verde);
    color: var(--cor-preto);

    text-decoration: none;
    font-weight: bold;

    border-radius: 40px;
    margin-top: 10px;

    padding: 10px 20px;
}
